/.idea/
.DS_Store

/public/events/events_2026.json
/public/structured-data/events_*.json
/public/feed/rss.xml
/public/img/athletes/
/public/img/news
/public/js/app.js
/composer.lock
/vendor/
/node_modules/
/dist/
/.astro/
/playwright-report/
/test-results/
