/.idea/
.DS_Store

/public/events/events_2026.json
/public/structured-data/events_*.json
/public/feed/rss.xml
/public/img/news
/composer.lock
/vendor/
/node_modules/
/playwright-report/
/test-results/
