.event-details {
    list-style: none;
    padding: 0;
    margin: 0 0 0 2px;
    position: absolute;
}

.event-details li {
    float: left;
    width: 270px;
    margin: 0 0 0 2px;
    height: 30px;
    font-size: 14px;
    padding-top: 6px;
    color: #e0e0e0;
}

.event-details li:last-child {

}

.event-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 110px 0 14px 0;
    padding: 0;
    width: fit-content;
}

.watch-button {
    position: absolute;
    left: 520px;
    top: 30px;
    height: 50px;
    width: 200px;
}

.watch-button a {
    float: left;
}

.next-event .watch-button {
    top: 42% !important;
    transform: translateY(-60%) !important;
    left: 586px;
}

.subheader-buttons {
    margin-bottom: 4px;
    padding-top: 6px;
    padding-bottom: 2px;
}
