:root {
    --jumbotron-padding-y: 3rem;
}

html {
    scroll-behavior: smooth;
}

label {
    cursor: pointer;
}

* {
    scroll-margin-top: 60px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

img.bw {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
}

.blocked-region {
    display: none;
    float: right;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.disabled-watch-btn {
    background-color: #d5eaf6;
    border: 1px solid grey;
    color: #3d3c3c;
}

.news-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.youtube-thumbnail {
    width: 200px;
    float: left;
    height: 110px;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
    -moz-border-radius: 3px;
    border: 1px solid rgba(33,31,31,0.91);
}

.round-details {
    padding-left: 0;
    margin-top: 0;
    line-height: 35px;
}


.event-details-tba {
    padding: 20px;
    text-align: center;
}

.jumbotron {
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    padding-top: 10px;
}

.jumbotron .container {
    max-width: 40rem;
}

li.ifsc-event {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.33);
    width: 100%;
    height: 130px;
    padding-left: 15px;
    margin: 0;
}

.watch-button {
    right: 20px;
    position: absolute;
}

.ifsc-starts-in {
    font-size: 14px;
    margin-top: 20px;
}

.filters label {
    width: 170px;
}

.filters input[type=checkbox] {
    accent-color: #e6007e;
}

.filters-modal h4 {
    padding-bottom: 5px;
}

li.ifsc-event:last-child { border-bottom: none; }

.no-results {
    max-width: 700px;
    background: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    text-align: center;
    font-weight: bold;
}

.event-name {
    font-weight: bold;
    color: #333131;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 0;
}

.event-page {
    background-color: #fff;
    width: 130px;
    margin-bottom: 10px;
}

#ifsc-season {
    font-size: 18px;
    max-width: 100%;
    padding: 10px 0 0 0;
    color: #ffffff;
    background-color: rgb(27, 40, 57);
}

#ifsc-season .header-title {
    max-width: 700px;
    margin: auto;
    padding-left: 60px;
    background-image: url(../img/logo.png);
    background-size: 65px;
    background-position-y: -5px;
    background-position-x: -10px;
    background-repeat: no-repeat;
}

.header-title a {
    text-decoration: none;
    color: #ffffff;
}

#ifsc-season .header-title h2 {
    font-size: 22px;
    font-weight: bold;
}

#ifsc-season .header-title p {
    line-height: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 15px;
    color: #d0d0d0;
}

#button-stream {
    width: 120px;
    margin-bottom: 5px;
    background-color: rgb(27, 40, 57);
}

.button-results {
    background-color: #fff;
    width: 120px;
}

.button-reminder {
    background-color: #e6007e;
    font-size: 12px;
    border: 1px solid #ad0a68;
    display: none;
    width: 120px;
    padding: 8px;
}

.button-reminder:hover {
    background-color: #c7086e;
    border: 1px solid #80074d;
}

.event-poster {
    position: absolute;
    background-position: center center;
    background-size: cover;
    right: 20px;
    top: 15px;
    border: 1px solid #ad0a68;
    width: 180px;
    height: 100px;
    margin-top: 40px;
}

.filters-button {
    margin: 0 0 0 5px;
    float: left;
    font-weight: bold;
    height: 39px;
}

.subheader-buttons {
    max-width: 700px;
    margin: 0 auto 0 auto;
    padding: 5px 0;
}

.top-header {
    background-color: rgb(27, 40, 57);
    width: 100%;
}

.season-selector {
    margin: 0;
    float: left;
    height: 39px;
    padding: 0 10px;
    font-weight: bold;
}

.ifsc-news {
    background-color: rgb(27, 40, 57);
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin: 15px 0 15px 0;
}

.btn-calendar {
    background-color: #e6007e;
    border: 1px solid #ad0a68;
    margin: 10px 0;
}

.btn-calendar:hover {
    background-color: #c7086e;
    border: 1px solid #80074d;
}

#filter-modal input {
    margin-left: 10px;
}

.next-event {
    background-color: rgba(131, 131, 206, 0.81);
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(111, 111, 162, 0.99);
    color: #ffffff;
}

.next-event h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 15px 15px;
}

footer {
    margin: 20px auto 0 auto;
    padding: 15px;
    font-size: 11px;
    width: 100%;
    background-color: rgba(241, 240, 240, 0.89);
}

footer div {
    max-width: 700px;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.buy-coffee {
    margin-left: 0;
}

.buy-coffee a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
