<template id="ifsc-event">
  <li class="list-group-item justify-content-between align-items-center ifsc-event">
    <div class="youtube-thumbnail media-shadow-soft">
      <button class="youtube-play-button" type="button" aria-label="Watch stream"></button>
    </div>

    <div class="d-flex align-items-center round-details">
      <div class="round-copy">
        <h6 class="round-name"></h6>
        <h6 class="round-date"></h6>
        <h6 class="round-time"></h6>
        <p class="round-starts-in"></p>
      </div>

      <div class="watch-button">
        <a class="ifsc-action-button ifsc-action-button-primary" data-action="round-stream" href="" rel="noopener" target="_blank">🍿 Watch</a>
        <a class="ifsc-action-button ifsc-action-button-primary button-reminder" href="https://github.com/sportclimbing/ifsc-calendar/wiki" rel="noopener" role="button" target="_blank" data-bs-toggle="modal" data-bs-target="#calendar-modal">📆 Set Reminder</a>
        <a class="ifsc-action-button ifsc-action-button-primary button-results" href="" role="button" target="_blank" rel="noopener">🏆 Results</a>
      </div>
    </div>
  </li>
</template>
